@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    font-family: "Andika" ;
    background-color: lightgreen;
}

/*header css*/
header {
    text-decoration: wavy;
}

header a:hover {
    color: black;

}

#head {
    font-family: "Courgette";
    color: white;
    background-color: green;
    text-align: center;
    font-size: 75px;

}

/*nav*/

nav a {
    color:whitesmoke;
    font-family: "Andika";
    text-shadow: 5px 5px 2px black;
    font-weight: bolder;
    text-decoration: none;
}

nav a:hover {
    background-color: green;
    border-radius: 50% 50%;
}

nav li {
    list-style-type: none;
    float: right;
    margin: 10px;
    padding: 0;
    display: inline;
    position: relative;
    
    
}

/*homepage css*/

#section-one {
    margin-top: 80px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;

}


#head-tuna {
    border-radius: 50% 50%;
    width: 12%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

    
    
}
#head-bread {
    border-radius: 50% 50%;
    width: 20%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    z z-index: 1;

    
    
}

#head-cod {
    border-radius: 50% 50%;
    width: 20%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    z z-index: 1;

    
    
}
#column {
    columns: 1;
}

#home-salad 
{

    width: 30%;
    position:  relative;
    display: inline-block;
    border-radius: 50% 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

    
  
}

/*opening times postioning */
#open-times {
    color: white;
    text-align: center;
    font-family: "Andika";
    text-shadow: 3px 3px 2px black;
    margin-left: auto;
    margin-right: auto;

}

.table {

    text-decoration: underline;
    table-layout: auto;
    columns: 2px;
    margin-left: auto;
    margin-right:auto;
}

#location {
    font-family: "Andika";
    text-shadow: 3px 3px 2px black;
    color: white;
}

/*heading classes*/
.headings {
    text-decoration: underline;
    font-family: "Andika";
    text-shadow: 3px 3px 2px black;
    font-weight: bold; 
    font-style: italic;
    font-size: larger;
    color: white
    
}



/*book table form styling*/

input {
    width: 100%;
    border-color: black;
    border-bottom: 200px;
    box-sizing: border-box;
    padding: 6px 10px;
    margin: 4px;
    background-color: white;
    font-family: "Andika";
    font-weight: bold;

}

input[type=submit] {
   box-sizing: border-box;
   border: 40px black;
   background-color: lightgoldenrodyellow;
   font-weight: bold;
   font-family: "Andika";

}

.para-table {
    margin: 80px;
    text-align: center;
    text-shadow: 3px 3px 2px black;
    color: white;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;
}

form
{
    background-color: green;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    
}

form > label {
    color: black;
    font-family: "Andika";
    text-decoration: underline;
    font-weight: bold;
    color: white; 
}

 /*images on booking page*/

 #latingreens {
    width: 30%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
}



/* our story */

 #our-story {
    margin: 80px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;
}


#man-baking {
    width: 30%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
}

/*contact*/

#contact {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    text-shadow: 3px 3px 2px black;
    color: white;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;
}

#bread {

width: 30%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
    

}

/*..footer css..*/

footer 
{

    color: white;
    width: 100%;

}

footer > nav {
    background-color: green;
}


/*..responsize sizing for screes 650px and lower..*/

@media screen and (max-width: 650px) {
    #head {
        font-size: 1.6rem;
    
    }


    nav a
    {
        font-size: small;
    
    }


}