@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&display=swap');

body {
    font-family: "Andika" ;
    background-image: url(../images/back.jpeg);
    background-size: cover;
}

/*header css*/

header a:hover {
    color: darkgreen;
}

#head {
    font-size: larger;
    font-family: "Andika";
    color: white;
    background-color: green;
    display: inline;
    float: top;
    font-size: 75px;

}

/*nav*/

nav a:hover {
    color: green;
}

nav li {
    list-style-type: none;
    float: right;
    margin: 10px;
    padding: 0;
    display: inline;
    position: relative;
    background-color: white;
    
}

/*homepage css*/

#section-one {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: medium;
    font-style: bolder;
    color: white;
    font-family: "Andika";
    background-color: green;
  

}

#home-image 
{

    width: 10%;
    position:  relative;
    display: inline-block;
    border-radius: 50% 50%;
    border-color: green;
    width: 60%;
    margin-top: 50px;
    margin-left: 50px;

    
  
}

/*opening times postioning */
#open-times {
    color: white;
    font-family: "Andika";
    background-color: green;
    width: 20%;
    margin-left: auto;
    margin-right: auto;

}

.table {

    text-decoration: underline;
    table-layout: auto;
    columns: 2px;
}

#location {
    font-family: "Andika";
    color: white;
}

/*heading classes*/
.headings {
    text-decoration: underline;
    font-family: "Andika";
    font-weight: bold; 
    font-style: italic;
    color: white
    
}

.heading2 {
    text-decoration: underline;
    font-family: "Andika";
    font-weight: bold;
    font-style: italic;
    color: white;
}



/*book table form styling*/

input {
    width: 100%;
    border-color: black;
    border-bottom: 200px;
    box-sizing: border-box;
    padding: 6px 10px;
    margin: 4px;
    background-color: white;
    font-family: "Andika";
    font-weight: bold;

}

input[type=submit] {
   box-sizing: border-box;
   border: 40px black;
   background-color: lightgoldenrodyellow;
   font-weight: bold;
   font-family: "Andika";

}

.para-table {
    width: 75%;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: medium;
    font-style: bolder;
    color: white;
    font-family: "Andika";
    background-color: green;

}

form
{
    width: 400px;
    background-color: green;
    display: inline-block;
    margin: 10px;
    
}

form > label {
    color: black;
    font-family: "Andika";
    text-decoration: underline;
    font-weight: bold;
    color: white;
    
}
/* our story */

 #our-story {
    display: inline-block;
    width: 75%;
    text-align: center;
    font-size: medium;
    font-family: "Andika";
    color: white;
    background-color: green;
}


#man-baking {
    width: 10%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
}

/*contact*/

#contact {
    display: inline-block;
    width: 75%;
    text-align: center;
    font-size: medium;
    font-family: "Andika";
    color: white;
    background-color: green;
}

#bread {

width: 10%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
    

}

footer 
{

    background-color: green;
    color: white;
    width: 100%;
    position: static;
    
    
}

