@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    font-family: "Andika" ;
    background-color: #644117;
    margin: auto;
}

/*header css*/

header a {
    color: black;
}


header a:hover {
    color: brown;

}

#head {
    font-family: "Courgette";
    color: white;
    background-color: black;
    text-align: center;
    font-size: 75px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;


}


/*nav*/

nav a {
    color:whitesmoke;
    font-family: "Andika";
    text-shadow: 5px 5px 2px black;
    font-weight: bolder;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    border-radius: 50% 50%;
}

nav li {
    list-style-type: none;
    float: right;
    margin: 10px;
    padding: 0;
    display: inline;
    position: relative;
    
    
}

/*homepage css*/

#section-one {
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;

}


#head-tuna {
    border-radius: 50% 50%;
    width: 15%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

    
    
}
#head-bread {
    border-radius: 50% 50%;
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;
}

#head-cod {
    border-radius: 50% 50%;
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;
}

#home-salad 
{

    width: 20%;
    position:  relative;
    display: inline-block;
    border-radius: 50% 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

    
  
}

/*opening times postioning */
#open-times {
    color: white;
    text-align: center;
    font-family: "Andika";
    text-shadow: 3px 3px 2px black;
    margin-left: auto;
    margin-right: auto;

}

.table {

    text-decoration: underline;
    table-layout: auto;
    columns: 2px;
    margin-left: auto;
    margin-right:auto;
}

#open-times p {
    font-family: "Andika";
    text-shadow: 3px 3px 2px black;
    color: white;
}

/*heading classes*/
.headings {
    text-decoration: none;
    font-family: "Courgette";
    text-shadow: 3px 3px 2px black;
    font-weight: bold; 
    font-style: italic;
    font-size: 30px;
    color: white
    
}

/*center photos*/
.center {
    text-align: center;
}



/*book table form styling*/

input {
    width: 100%;
    border-color: black;
    border-bottom: 200px;
    box-sizing: border-box;
    padding: 6px 10px;
    margin: 4px;
    background-color: white;
    font-family: "Andika";
    font-weight: bold;

}

input[type=submit] {
   box-sizing: border-box;
   border: 40px black;
   background-color: lightgoldenrodyellow;
   font-weight: bold;
   font-family: "Andika";

}

.para-table {
    margin: 80px;
    text-align: center;
    text-shadow: 3px 3px 2px black;
    color: white;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;
}

form
{
    background-color: black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    
}

form > label {
    color: black;
    font-family: "Andika";
    text-decoration: underline;
    font-weight: bold;
    color: white; 
}

 /*images on booking page*/

 #pastadish {
    width: 20%;
    border-radius: 50% 50%;
    z-index: 1;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}

#nesperros {
    width: 20%;
    border-radius: 50% 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    

}

#tomato {
    width: 20%;
    border-radius: 50% 50%;
    z-index: 1;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


/* our story */

 #our-story {
    margin: 80px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;
}


#man-baking {
    width: 30%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
}

/*images for our story page*/

#growtom
{
    width: 15%;
    position:  relative;
    float:inline-start;
    border-radius: 50% 50%;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;

}

#salad
{
    width: 20%;
    position:  relative;
    float:inline-start;
    border-radius: 50% 50%;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
}

#lemonrice
{
    width: 20%;
    position:  relative;
    float:inline-start;
    border-radius: 50% 50%;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
    
}

/*contact*/

#contact {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    text-shadow: 3px 3px 2px black;
    color: white;
    font-family: "Andika";
    margin-left: auto;
    margin-right: auto;
}

#bread {

width: 20%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
    

}

#mushroom {
    width: 20%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
    z-index: 1;
}

#cactus {
    width: 20%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
    z-index: 1;
}
 /*fun facts*/

 #funlist
 {
    list-style: none;

 }

 #funfact
 {
    background-color: black;
    border-radius: 50%;
 }

/*..footer css..*/

footer 
{

    color: white;
    width: 100%;
    border-top: white 2px solid;
    margin-top: 100px;

}

footer > nav {
    background-color: green;
}


/*..responsize sizing for screes 650px and lower..*/

@media screen and (max-width: 650px) {
    #head {
        font-size: 1.8rem;
    
    }

    nav a
    {
        font-size: 0.8rem;
    
    }


    form {
        width: 200px;
    }

    .headings {
        font-size: 1rem;
    }

    #section-one
    {
        font-size: 0.8rem;
    }

    #open-times 
    {
        font-size: 0.8rem;
    }

    .para-table

    {
        font-size: 0,8rem;
    }

    .table
    {
        font-size: 0.8rem;
    }

    #floating-footer
    {
        margin-top: auto;
    }








}

