@import url('@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');');

body {
    font-family: "Barlow-Condensed" sans-serif;
    background-image: url(../images/back.jpeg);
    background-repeat: no repeat;
    background-size: cover;
    
}

/*header css*/

#head {
    background-color: beige;
    font-size: larger;
    color: black;
    display: inline;
    float: top;
    font-size: 75px;
}

.navigation li {
    list-style-type: none;
    float: right;
    margin: 10px;
    padding: 0;
    display: inline;
    position: relative;
    
}

nav > a {
    color: white;
    font-size: large;
}

nav > a:hover {
    color: silver;
}

.first-nav {
    float:inline-start;
}

/*homepage css*/

#section-one {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: medium;
    color: grey;
    background-color: beige;
  

}

#home-image 
{

border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 25%;
}
}

/*opening times postiiong */
#open-times {
    font-family: 'Barlow condensed' sans-serif;
    color: black;
    text-align: center;
    background-color: beige;
    length: 150px;
    width: 300px;
    float: left;
    margin: 20px;

}

.table {

    text-decoration: underline;
    table-layout: auto;
}

#location {
    font-family: 'Barlow condensed' sans-serif;
    color: black;
    text-align: center;
    background-color: beige;
    length: 150px;
    width: 300px;
    float: right;
    margin: 20px 50px;
   

}

/*heading classes*/
.headings {
    text-decoration: underline;
    font-weight: bold; 
    font-style: italic;
}

.heading2 {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;'
}



/*book table form styling*/

input {
    width: 100%;
    border-color: black;
    border-bottom: 200px;
    box-sizing: border-box;
    padding: 6px 10px;
    margin: 4px;
    background-color: beige;
    
    font-weight: bold;
    

}

input[type=submit] {
   box-sizing: border-box;
   border: 40px black;
   background-color: lightgoldenrodyellow;
   font-weight: bold;

}

#para-table {
    font-family: "barlow-condensed" sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    color: black;
    background-color: beige;
    border: 1px;

}

#pretty-box {
    background-color: beige;
    length: 150px;
}

form
{
    width: 400px;
    background-color: beige;
    
}

form > label {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    
}
/* our story */

 #our-story {
    display: inline-block;
    width: 75%;
    length: 75%;
    float: center;
    text-align: center;
    font-size: medium;
    color: black;
    background-color: beige;


}

#title-story {

    float: center;
    text-decoration: underline;
    width: 200px;
    length: 250px;
    font-style: italic;
    font-size: medium;
    color: grey;
    background-color: beige;


}

#man-baking {
    width: 10%;
    position:  absolute;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;

}

#footer 
{
    position:absolute;
    background-color: beige;
    color: black;
}


@media screen and (max-width 600px)
 {
    

    
}