@import url('https://fonts.googleapis.com/css2?family=Andika:ital@0;1&display=swap');

body {
    font-family: "Andika" ;
    background-image: url(../images/back.jpeg);
    background-repeat: no repeat;
    background-size: cover;
    
}

/*header css*/

#head {
    font-size: larger;
    font-family: "Andika";
    color: white;
    background-color: green;
    display: inline;
    float: top;
    font-size: 75px;
}

.navigation li {
    list-style-type: none;
    float: right;
    margin: 10px;
    padding: 0;
    display: inline;
    position: relative;
    background: greenyellow;
    
}

nav > li:hover {
    background-color: aliceblue;
}


/*homepage css*/

#section-one {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: medium;
    font-style: bolder;
    color: white;
    font-family: "Andika";
    background-color: green;
  

}

#home-image 
{

border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  
}

/*opening times postiiong */
#open-times {
    font-family: 'Barlow condensed' sans-serif;
    color: white;
    font-family: "Andika";
    background-color: green;
    width: 100%;

}

.table {

    text-decoration: underline;
    table-layout: auto;
    columns: 2px;
}

#location {
    font-family: "Andika";
    color: white;
}

/*heading classes*/
.headings {
    text-decoration: underline;
    font-family: "Andika";
    font-weight: bold; 
    font-style: italic;
    color: white
}

.heading2 {
    text-decoration: underline;
    font-family: "Andika";
    font-weight: bold;
    font-style: italic;
    color: white;
}



/*book table form styling*/

input {
    width: 100%;
    border-color: black;
    border-bottom: 200px;
    box-sizing: border-box;
    padding: 6px 10px;
    margin: 4px;
    background-color: white;
    font-family: "Andika";
    font-weight: bold;

}

input[type=submit] {
   box-sizing: border-box;
   border: 40px black;
   background-color: lightgoldenrodyellow;
   font-weight: bold;
   font-family: "Andika";

}

.para-table {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: medium;
    font-style: bolder;
    color: white;
    font-family: "Andika";
    background-color: green;

}

form
{
    width: 400px;
    background-color: green;
    display: inline-block;
    margin: 10px;
    
}

form > label {
    color: black;
    font-family: "Andika";
    text-decoration: underline;
    font-weight: bold;
    color: white;
    
}
/* our story */

 #our-story {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: medium;
    font-family: "Andika";
    color: white;
    background-color: green;

}


#man-baking {
    width: 10%;
    position:  relative;
    float:inline-start;
    margin: 20px;
    border-radius: 50% 50%;
    border-color: green;
    border-width: 30px;
    

}

#footer 
{
    position:absolute;
    background-color: beige;
    color: black;
}
