@import url('@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');');

body {
    font-family: "Barlow-Condensed" sans-serif;
    background-image: url(../images/bread.jpeg);
    background-repeat: no repeat;
    background-size: cover;
    
}

/*header css*/

#head {
    background-color: black;
    color: whitesmoke;
    display: inline;
    float: top;
    font-size: 75px;
}

#navigation ul {
    font-size: 110%;
    color: black;
    margin: 0;
    padding: 0;
    
}

#navigation li {
    list-style-type: none;
    float: right;
    margin: 10px;
    padding: 0;
    display: inline;
    position: relative;

}

.first-nav {
    float:inline-start;
}

/*homepage css*/

#image-one {
    background-color:antiquewhite ;
    width: 100%;
    height: 250px;
    display: inline-block;
    position: relative;

}

/*opening times postiiong */
#open-title {
    font-family: 'Roboto' sans-serif;
    color: black;
    text-align: center;
    
}

/*book table form styling*/

input {
    width: 100%;
    border-color: black;
    border-bottom: 200px;
    box-sizing: border-box;
    padding: 6px 10px;
    margin: 4px;
    background-color: whitesmoke;
    
    font-weight: bold;
    

}

input[type=submit] {
   box-sizing: border-box;
   border: 40px black;
   background-color: lightgoldenrodyellow;
   font-weight: bold;

}

#table-title {
    font-family: "barlow-condensed";
    font-style: italic;
    text-decoration: underline; 
    font-size: larger;
}

#para-table {
    font-family: "barlow-condensed" sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

/* our story */

 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Barlow Condensed' sans-serif;
}